.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange;
}

.axis-label {
  font-size: 14px;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  background: lightsteelblue;
  border: 1px solid #333;
  border-radius: 5px;
  pointer-events: none;
}
